@model IEnumerable<ForumApplication.Models.Utilisateur>

@{
    ViewData["Title"] = "UTILISATEUR";
}

<h1>UTILISATEUR</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pseudonyme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.motdepasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inscrit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cheminavatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.signature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pseudonyme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motdepasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inscrit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cheminavatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.signature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.actif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.admin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
